<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'home'%}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'marks-add'%}">Marks Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'marks-details'%}">Marks Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'question-add'%}">Questions add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'csv-export-1'%}">ExportTest 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'csv-export-2'%}">ExportTest 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'csv-export-3'%}">ExportTest 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'marks-charts-1'%}">Test 1 Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'marks-charts-2'%}">Test 2 Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'marks-charts-3'%}">Test 3 Analysis</a>
          </li>
          
      </div>
    </div>
  </nav>